<div class="container-div">
  <section *ngIf="!spinner">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="PushUp"
        #input
      />
    </mat-form-field>
    <table mat-table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        <td mat-footer-cell *matFooterCellDef>Total :</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef>calories</th>
        <td mat-cell *matCellDef="let element">{{ element.calories }}</td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getTotalCalories() }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>duration</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        <td mat-footer-cell *matFooterCellDef>
          {{ getTotalDuration() }}
        </td>
      </ng-container>

      <!-- state Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>state</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </section>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
<div *ngIf="spinner" class="fix-spinner">
  <app-loading-spinner></app-loading-spinner>
</div>
