.example-card {
  max-width: 800px;
}
.article-avatar {
  width: 40px;
  height: auto;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  mat-card {
    margin: 10px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1000px) {
  mat-card {
    width: 100%;
  }
  .example-card {
    width: 100%;
  }
}
