<div
  class="wellcome"
  fxLayout.gt-sm="row"
  fxLayoutGap="20px"
  fxLayout.lt-sm="column"
  fxLayoutAlign="center center"
>
  <section>
    <h2 style="text-align: center">Exercise club</h2>
    <p>
      Exercise club is a traning project to challenge my web development skills
      .
    </p>
    <p>There are some of practiced subjects :</p>
    <ul style="list-style-type: none">
      <li style="font-weight: bold">Angular 11</li>
      <li>JavaScript & Es6 features</li>
      <li>TypsScript 's AWESOME features</li>
      <li>Shared Servisec</li>
      <li>Async Validators</li>
      <li>Lazy loading</li>
      <li>Optimizing App Modules</li>
      <li>AOT compiling</li>
      <li>Routing</li>
      <li>Route Guards</li>
      <li>Authentication</li>
      <li>Angular Universal</li>
      <li>PWA Support</li>
      <li style="font-weight: bold">Rxjs</li>
      <li>Observables</li>
      <li>Subjects And BehavierSubjects</li>
      <li>Rxjs Oprators</li>
      <li style="font-weight: bold">Firebase</li>
      <li>Cloud FireStore</li>
      <li>REST Apis</li>
      <li>Using a NonSQL DataBase</li>
      <li style="font-weight: bold">Angular Material</li>
      <li>Attach Upload Input Module</li>
    </ul>
    <div class="reposetories">
      <a mat-raised-button href="https://github.com/mohajerimasoud/ExerciseClub" target="_blank">GitHub</a>
      <a mat-raised-button href="https://gitlab.com/mohajerimasoud/exerciseclub" target="_blank">GitLab</a>
    </div>
  </section>

</div>
